
body {
    display:block;
    margin:0px;
    padding:0px;
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-header {
    display: block;
}
.header{
    display:flex;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 500vh;
    height: 150px;
}

.container {
    padding: 0px 20px 0px 30px;
    width: 100%;
    display: flex;
    margin-top: 20%;
}
.yahoo {
    width: 180px;
    margin-left: 20%;
}
.corner {
    display: flex;
    position:relative;
    left:10%
}
.sign {
    border: 2px solid blueviolet;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius:15px ;
    border-top-right-radius: 15px;
    width: 60px;
    height: 20px;
    padding: 1px;
    margin:44px 0px 30px 0px;
    margin-right: 35px;
    margin-left: -100%;
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: medium;
    text-align: center;
    color: black;
}
.sign:hover {
    background-color: blueviolet;
}
.bell, .mail {
    position: relative;
    top: 44px;
    width: 25px;
    margin-right: 35px ;
}
.mail {
    margin-right: 0px;
    display: flex;
}
.pmail {
    position:relative;
    left: 100%;
    top: 5%;
}
.searchbar {
    display: flex;
}
input {
    position: relative;
    top: 20%;
    height:45px;
    width: 700px;
    margin-left: 10%;
    border: 1px solid #5db6f1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
button {
    position: relative;
    top:20%;
    height:45px;
    width:100px;
    border: 0px;
    background-color: #5db6f1;;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.search {
    width: 30px;
}
.top-nav {
    display: flex;
    flex:1;
    margin-left: -2%;
    position: fixed;
    top: 15%;
    width: 1000px;
    padding: 15px 0px;
}
.list {
    display: flex;
    padding: 0px 30px;
    flex-direction: row;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight:bolder;
    margin: 0px;
}
.ordered {
    display: flex;
    margin: 0px;
}
.bmail {
    width: 20px;
    margin-right: 2px;
}
.line.break {
    box-shadow:  100px 100px 100px #888888;
}
.top-two {
    display: flex;
    height: 300px;
    width: 1000px;
}
.for-A {
    background-size: cover;
    width: 50%;
    display: flex;
    flex: 0.7;
}
.Apic {
    width: 605px;
    height: 300px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.for-B {
    background-image: linear-gradient(#b0b9c1,#e0e4e9,#c7cdd2,#b0b9c1,#f8f4ff) ;
    width: 50%;
    display: flex;
    flex: 0.4;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 15px;  
}
.write-up {
    width: 300px;
    padding: 40px;
}
.heading, .para {
    position: relative;
    font:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.row {
    display: block;
    flex: 1;
    flex-direction: row;
    height: 150px;
}
.row5 {
    margin-right: 0;
}

.unordered {
    display: flex;
    width: 96%;
    padding-left: 0%;
} 

.story-create {
    background-color: white;
    width: 200px;
    position: relative;
    height: 45px;
    margin: 0;
}
.picrow {
    width:175px;
    border-radius: 5px;
}
.edit {
    font-size: 15px;
    margin: o;
}
.side {
    width: 25%;
}
.side-list {
   height: 300px;
   display: flex;
   width: 350px;
}
.topic {
    position: relative;
    left: 16%;
}
.trend {
    margin-bottom: 8px;
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: small;
    font-weight: bolder;
}
.now1 {
    flex:1;
    position: relative;
    top: 15%;
    margin-left: -10px ;
}

.container-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 1000px;
}
.cont-2ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.new-list {
    display: flex;
    width:175px;
    width: 270px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.sub-list {
    position: absolute;
    left:25%;
    height: 150px;
    width: 650px;
    font-size: small;
}
.picture {
    width: 270px;
    border-radius: 10px;
}


