table {
    border-collapse: collapse;
    font-family: sans-serif;
    width: 50%;
}
table th {
 background-color: black;
 color: white; 
 text-align: center;
 padding: 4px 20px;
}
table td {
    text-align: center;
    padding: 4px 20px;
}
table tr:nth-child(odd) {
    background-color: rgb(223, 217, 217);
}